/*CHAT demo*/
.chat-demo__container {

  width: 55px;
  height: 55px;
  margin: 0 auto;
  position: fixed;
  right:40px;
  bottom:50px;
  /* border: 1px solid #49166d; */
  border-radius: 50%;
  padding: 1px;
  text-align: center;
  z-index: 200000;
}
.chat-demo__image {
  background-color: #fff;
  padding: 1px;
  max-height: 100%;
  border-radius: 50%;
  position:relative;
  top:15px;
  left:15px;
  border: 2px solid #49166d;
  z-index: 100;
}
.chat-text__container {
  margin: 0 70px 0 0;
  display: block;
  justify-content: center;
  min-width: 85px;
  height: 45px;
  padding: 9px;
  text-align: center;
  color: #f5f6f7;
  background-color: #49166d;
  border: 1px solid #f5f6f7;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.chat-text {
  font-family: tromanregular,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 600;
  font-size: 17px;
  padding-bottom: 0;
}

/*Global fixes temp*/
.container{  max-width: 1140px;
  margin: 0 auto;
  padding: 0;}
h2:not([class]), h3:not([class]), h4:not([class]) {
  margin-top: 1.5em;
}
h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.2rem; }


.show-mobile{display: block}
/*Global fix*/
.mobile-no-padding{padding: 0!important;}

.columns:first-child {
  padding-left: 15px;
}

@include from-breakpoint("medium") {

  .show-mobile {
    display: none
  }
}