/*
html {
  height: 100%; }
*/
body {
    min-height: 100%;
}

#site-header {
    height: 68px;
    background-color: #4b286d;
    text-align: center;
    clear: both;
    position: fixed;
    margin: auto;
    z-index: 1000000;
    width: 100%;
    top: 0px;
}
#site-header a {
    text-decoration: none;
}
#site-header a:not(.naas-portal-global-nav__link) {
    color: #595859;
}
#site-header a:hover {
    text-decoration: underline;
}
#site-header img {
    display: inline-block;
}
#site-header .toggle {
    color: #fff;
    font-size: 2rem;
    margin: 0;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    float: left; }
@media screen and (min-width: 960px) {
    #site-header {
        text-align: left; }

    #site-header .toggle {
        display: none; } }

.container {
    height: 100%; }


/*My Additions */

/* always present */
/*.expand-transition {
  transition: all .3s ease;
  height: 30px;
  padding: 10px;
  background-color: #eee;
  overflow: hidden;
}*/

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
/*.expand-enter, .expand-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
}*/

/*For POC*/
/*For POC*/
.columns-demo .columns:nth-child(odd){background-color: #eaeaea}
.columns-demo .columns:nth-child(even){background-color: #eec}

/*CHAT demo*/
.chat-demo__container {

    width: 55px;
    height: 55px;
    margin: 0 auto;
    position: fixed;
    right:40px;
    bottom:50px;
    /* border: 1px solid #49166d; */
    border-radius: 50%;
    padding: 1px;
    text-align: center;
    z-index: 200000;
}
.chat-demo__image {
    background-color: #fff;
    padding: 1px;
    max-height: 100%;
    border-radius: 50%;
    position:relative;
    top:15px;
    left:15px;
    border: 2px solid #49166d;
    z-index: 100;
}
.chat-text__container {
    margin: 0 70px 0 0;
    display: block;
    justify-content: center;
    min-width: 85px;
    height: 45px;
    padding: 9px;
    text-align: center;
    color: #f5f6f7;
    background-color: #49166d;
    border: 1px solid #f5f6f7;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.chat-text {
    font-family: tromanregular,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 17px;
    padding-bottom: 0;
}
/*MOdal demo*/
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal.hidden{
    display:none
}

/* Modal Content */
.modal-content-wrapper {
    background-color: #fefefe;
    margin: auto;
    width: 80%;

}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 90%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    width:40px;
    height: 40px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*==========*/


.show-mobile{display: none}
/*====Anna additions header*/
#site-header .naas-portal-global-nav__container{
    max-width:800px;
    margin: 0 auto;
}
.naas-portal-global-nav {
    /*margin-bottom: 14px;*/
    background-color: #4b286d; }

.naas-portal-global-nav a{
    display: inline-block;
    padding:7px 15px;
    font-size: 16px;
    text-decoration: none;  }

.naas-portal-global-nav__link--active{
    background-color: #fff;
    color: #49166d; }

.naas-portal-global-nav__link{
    color:#fff;  }

.naas-portal-global-nav a:hover,.naas-portal-global-nav a:focus {
    text-decoration: underline;
    /*color: #8c68a6;*/  }

/*@media screen and (max-width: 767px) {
  .naas-portal-global-nav {
    margin-top:5px;
  }
}*/

.naas-portal-global-nav__item {
    display: inline-block;
    /*border-right: 1px solid #49166d;
    padding: 0 8px;*/
    /*font-family: "telusweb", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400*/
}

.naas-portal-global-nav__item:first-child {
    padding-left: 0
}

.naas-portal-global-nav__item:last-child {
    border-right: none
}

/*header:: secondary nav*/


.naas-portal-secondary-nav__wrapper{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    box-shadow:0 3px 5px 0 rgba(0, 0, 0, 0.2)  }

.naas-portal-secondary-nav__container{
    margin: 0 auto;
    max-width: 1350px;
    padding: 10px 0;
    height: auto}

.naas-portal-secondary-nav{
    max-width: 1000px;

    display: inline-block;}

.secondary-nav-burger{
    display: none;
}

.naas-portal-secondary-nav__item {
    display: inline-block;
    padding:25px 10px;}

.naas-portal-secondary-nav__item:last-child {
    /*  border-right: solid 1px #eaeaea;*/
    float: right;
    padding-right: 20px;
    margin-left: 4em;
}

.naas-portal-secondary-nav__link--active{
    background-color: #fff;
    color: #49166d; }

.naas-portal-secondary-nav__link{
    color: #595859; }

.naas-portal-logo {
    float: left;
    overflow: hidden;
    margin-right: 70px;
    margin-bottom: 0}

.naas-portal-logo img {
    display: block;
    width: 210px;
    height: auto;
    padding: 20px 0;
}

/*header:: user-management*/
.naas-portal-user-management__container {
    /*float: right;*/
    display: inline-block;
    margin:0 20px;
}

/*Might be temp*/
.naas-portal-search__container {
    display: inline-block;
    margin:0 0 0 40px;
}

.poc-demo-container {margin-top: 134px; max-width: 1368px; margin-left:auto; }
.poc-demo-container.container { margin-left:auto; margin-right:auto; padding: 0}

.poc-demo-container  nav {padding: 0; box-shadow:0 3px 5px 3px rgba(0, 0, 0, 0.2); margin-bottom: 10px; }

.poc-demo-container  nav ul {margin:0;}
.poc-demo-container  nav li {margin:0;}
.poc-demo-container  nav li:hover {background-color: #eaeaea}

.poc-demo-container  nav a {padding:1.25em;}

.poc-demo-container  nav a .icon{margin:0 1em; width:1.5em; height: 1.5em}

.poc-demo-container  nav li.section {border-bottom: solid 1px #adadad; }


/*large screens*/
@media (min-width: 1280px) {

    .naas-portal-secondary-nav__item:last-child {
        margin-left: 7em;
    }
}

@media (min-width: 960px) {
    .poc-demo-container  nav{
        max-width: 230px;
    }
    .naas-portal-secondary-nav{
        max-width: 100%;
    }

}

@media (min-width: 768px) and (max-width: 1099px) {
    .naas-portal-logo img{
        width: 150px;
        padding: 0;
    }
    #site-header a {
        font-size: .9em;
    }


    .naas-portal-secondary-nav{
        max-width: none;
    }

}

@media (min-width: 768px) and (max-width: 960px){
    .show-mobile{display: block}
    .hide-mobile{display: none}
    /*Global fix*/
    .mobile-no-padding{padding: 0!important;}
    .columns:first-child {
        padding-left: inherit;
    }


    #site-header {
        height: 38px;
        position: relative;
    }

    .naas-portal-logo img{padding: 0; margin: 0 40px 0px 10px; width: 160px}

    header.nav-closed .naas-portal-secondary-nav{
        display: none;
    }
    .naas-portal-secondary-nav{
        min-width: 200px;
        width:100%;
        display: block;
        background: white;
        float: right;
    }
    .naas-portal-secondary-nav__container {
        padding:  0;
        height: 60px;
    }
    .secondary-nav-burger{
        font-size: 1.5em;
        display: block;

        padding-top: 20px;
        position: absolute;
        right: 20px;
    }

    .naas-portal-secondary-nav__item {
        display: block;
        padding:5px 10px;
        text-align: right;
        width: 100%;
        border-bottom: solid 1px #eaeaea;
    }
    .naas-portal-secondary-nav__item:hover {
        background-color:  #eaeaea;
    }
    .naas-portal-secondary-nav__item a:hover,  .naas-portal-secondary-nav__item a:focus {
        background-color:  transparent;
        text-decoration: none;
    }

    .naas-portal-user-management__container, .naas-portal-search__container {display: none}

    .poc-demo-container  {margin-top: 10px;}
    .poc-demo-container  nav {box-shadow:none; margin-top:10px}
    /*.poc-demo-container  nav ul{display: none }
     .wrapper-dropdown:hover ul{display: block}*/

    nav li.section{display: none}
    nav li.subsection, nav a.section{border-bottom: solid 1px #eaeaea;}
    nav  a.section{font-size: 1.5em;  padding: 1.25em 0 1.25em 1.5em;}



}

/*//mobile*/
@media screen and (max-width: 768px) {



    .show-mobile{display: block}
    /*Global fix*/
    .mobile-no-padding{padding: 0!important;}
    .columns:first-child {
        padding-left: inherit;
    }


    #site-header {
        height: 38px;
        position: relative;
    }

    .naas-portal-logo img{padding: 0; margin: 0 40px 0px 10px; width: 160px}

    header.nav-closed .naas-portal-secondary-nav{
        display: none;
    }
    .naas-portal-secondary-nav{
        min-width: 200px;
        width:100%;
        display: block;
        background: white;
        float: right;
    }
    .naas-portal-secondary-nav__container {
        padding:  0;
        height: 60px;
    }
    .secondary-nav-burger{
        font-size: 1.5em;
        display: block;

        padding-top: 20px;
        position: absolute;
        right: 20px;
    }

    .naas-portal-secondary-nav__item {
        display: block;
        padding:5px 10px;
        text-align: right;
        width: 100%;
        border-bottom: solid 1px #eaeaea;
    }
    .naas-portal-secondary-nav__item:hover {
        background-color:  #eaeaea;
    }
    .naas-portal-secondary-nav__item a:hover,  .naas-portal-secondary-nav__item a:focus {
        background-color:  transparent;
        text-decoration: none;
    }

    .naas-portal-user-management__container, .naas-portal-search__container {display: none}

    .poc-demo-container  {margin-top: 10px;}
    .poc-demo-container  nav {box-shadow:none; margin-top:10px}
    /*.poc-demo-container  nav ul{display: none }
     .wrapper-dropdown:hover ul{display: block}*/

    nav li.section{display: none}
    nav li.subsection, nav a.section{border-bottom: solid 1px #eaeaea;}
    nav  a.section{font-size: 1.5em;  padding: 1.25em 0 1.25em 1.5em;}



}



/*Footer*/


footer{margin-top:10px}

/*Utils*/


/*======*/

main {
    overflow-x: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }

article {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    max-width: 100%;
    margin-left: -200px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;

    background: #fafafa;
    z-index: 2; }

@media screen and (max-width: 960px) {
    body.menu-active article {
        opacity: 0.3;
        -webkit-transform: translateX(200px);
        transform: translateX(200px); } }


article header.content {
    background: rgba(75, 40, 109, 0.5); }
article header h1 {
    color: #fff; }

nav {
    -webkit-box-flex: 0 1 200px;
    -webkit-flex: 0 1 200px;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;


    /* min-width: 200px;*/
    /*padding-top: 2em;
    padding: 2em;*/
    z-index: 1;
    font-size: 0.9em;
    background: #fff; }
nav span {
    color: #979797;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold; }
nav a {
    color: #222222;
    text-transform: capitalize;
    text-decoration: none;
    /* padding: 0.25em;*/
    display: block; }
nav a:hover {
    color: #666666;
    background-color: #f8f8f8; }
nav li.active a {
    color: #248700; }

@media screen and (min-width: 960px) {
    article {
        margin-left: 0;
        -webkit-transform: none !important;
        transform: none !important; } }

.content {
    padding: 3em 5%; }
.content li {
    list-style-type: disc;
    margin-left: 1em; }

/*p + h2, p + h3, p + h4 {*/
h2:not([class]), h3:not([class]), h4:not([class]) {
    margin-top: 1.5em; }

h1 {
    font-size: 3rem; }

h2 {
    font-size: 2.4rem; }

h3 {
    font-size: 1.8rem; }

h4 {
    font-size: 1.2rem; }

pre {
    max-width: 100%;
}

th {
    font-weight: bold;
    text-align: left;
    padding: 0.5em;
    border-bottom: 6px solid #eeeeee;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #999; }

tr:nth-child(even) {
    background: #f4f4f4; }

tr td {
    border-bottom: 1px solid #dddddd;
    padding: 1em; }

.colors:after {
    content: "";
    display: table;
    clear: both; }

.colors .color {
    list-style-type: none;
    float: left;
    margin: 15px 22px 20px 0;
    text-align: center;
    -webkit-print-color-adjust: exact; }

.colors .color-preview {
    line-height: 90px;
    height: 90px;
    width: 90px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #aaa; }

.fonts .font {
    color: #000; }
.fonts .font:after {
    content: "";
    display: table;
    clear: both; }

.fonts .font-preview-character {
    display: block;
    font-size: 90px;
    line-height: 1;
    text-align: center;
    color: #565454; }

.fonts .font-preview {
    display: block;
    line-height: 1.5;
    padding-right: 1em;
    word-break: break-all;
    border-right: 2px solid #EEE; }

.styles {
    color: #000; }
.styles .style:after {
    content: "";
    display: table;
    clear: both; }

small {
    display: block; }
small .label {
    color: #999; }

.example {
  margin-bottom: 3em; }



.columns-demo { 
  margin-top:20px;
 }
