<header id="site-header" v-bind:class="{ 'nav-closed': showSecondaryNav }"  ><!--:transition="expand"-->

  <div class="naas-portal-global-nav__container">
    <ul class="naas-portal-global-nav">
      <li class="naas-portal-global-nav__item">
        <a href="#"  class="naas-portal-global-nav__link--active">Business</a>
      </li>
      <li class="naas-portal-global-nav__item">
        <a href="#" class="naas-portal-global-nav__link">Personal</a>
      </li>
    </ul>
  </div>
  <div class="naas-portal-secondary-nav__wrapper">
    <div class="naas-portal-secondary-nav__container">
      <h1 class="naas-portal-logo">
        <a href="/" title="TELUS">
          <img src="img/telus-logo.svg" alt="TELUS / Home">
        </a>
      </h1>
      <a href="#sec-nav"  class="hide-desktop secondary-nav-burger"
         v-on:click="toggleMenu()">
        <i class="icon fa fa-bars" aria-hidden="true"></i>
      </a>
      <ul class="naas-portal-secondary-nav" id="js-sec-nav">
        <li class="naas-portal-secondary-nav__item">
          <a href="#"  class="naas-portal-secondary-nav__link--active">Mobility</a>
        </li>
        <li class="naas-portal-secondary-nav__item">
          <a href="#" class="naas-portal-secondary-nav__link">Collaboration</a>
        </li>
        <li class="naas-portal-secondary-nav__item">
          <a href="#"  class="naas-portal-secondary-nav__link">Networks</a>
        </li>
        <li class="naas-portal-secondary-nav__item">
          <a href="#" class="naas-portal-secondary-nav__link">Enterprise Solution</a>
        </li>
        <li class="naas-portal-secondary-nav__item">
          <a href="#" class="naas-portal-secondary-nav__link">Support</a>
        </li>
      </ul>

      <div class="naas-portal-user-management__container"><a href="#"  class="">Stan Smith &nbsp; <i class="icon fa fa-chevron-down" aria-hidden="true"></i></a></div>
      <div class="naas-portal-search__container"><i class="icon fa fa-search" aria-hidden="true"></i></div>
    </div>
  </div>
</header>

<script>




</script>