@import "../../assets/scss/utility/mixins";
@import "../../assets/scss/settings/_variables";



#site-header {
  height: 38px;
  position: relative;

  .naas-portal-logo {
    float: left;
    overflow: hidden;
    margin-bottom: 0;

    img {
      padding: 0;
      margin: 0 40px 0px 10px;
      width: 160px}
  }

  a {
    text-decoration: none;

    &:not(.naas-portal-global-nav__link) {
      color: #595859;
    }
    &:hover, &:focus{
      text-decoration: underline;
    }
  }
}

/*Global Nav*/
.naas-portal-global-nav__container{
  background-color: $color-purple;

}
.naas-portal-global-nav {
  /*margin-bottom: 14px;*/
  text-align: center;
  margin: 0 auto;
  a {
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    text-decoration: none;
  }
  a:hover, a:focus {
    text-decoration: underline;
    /*color: #8c68a6;*/
  }


  .naas-portal-global-nav__link--active {
    background-color: #fff;
    color: #49166d;
  }

  .naas-portal-global-nav__link {
    color: #fff;
  }


  /*@media screen and (max-width: 767px) {
    .naas-portal-global-nav {
      margin-top:5px;
    }
  }*/

  .naas-portal-global-nav__item {
    display: inline-block;
    /*border-right: 1px solid #49166d;
    padding: 0 8px;*/
    /*font-family: "telusweb", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400*/
  }

  .naas-portal-global-nav__item:first-child {
    padding-left: 0
  }

  .naas-portal-global-nav__item:last-child {
    border-right: none
  }

  /*header:: secondary nav*/


}

header.nav-closed .naas-portal-secondary-nav{
  display: none;
}
.naas-portal-secondary-nav{
  min-width: 200px;
  width:100%;
  display: block;
  background: white;
  float: right;
}
.naas-portal-secondary-nav__container {
  padding:  0;
  height: 60px;
  border-bottom: solid 1px #eaeaea;
}
.secondary-nav-burger{
  font-size: 1.5em;
  display: block;
  padding-top: 10px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.naas-portal-secondary-nav__item {
  display: block;
  padding:5px 10px;
  text-align: right;
  width: 100%;
  border-bottom: solid 1px #eaeaea;
}
.naas-portal-secondary-nav__item:hover {
  background-color:  #eaeaea;
}
.naas-portal-secondary-nav__item a:hover,  .naas-portal-secondary-nav__item a:focus {
  background-color:  transparent;
  text-decoration: none;
}

.naas-portal-user-management__container, .naas-portal-search__container {display: none}

/*.poc-demo-container  {margin-top: 10px;}
.poc-demo-container  nav {box-shadow:none; margin-top:10px}
/!*.poc-demo-container  nav ul{display: none }
 .wrapper-dropdown:hover ul{display: block}*!/

nav li.section{display: none}
nav li.subsection, nav a.section{border-bottom: solid 1px #eaeaea;}
nav  a.section{font-size: 1.5em;  padding: 1.25em 0 1.25em 1.5em;}*/











@include from-breakpoint("medium") {

  #site-header {
    height: 68px;
    background-color: #4b286d;
    text-align: center;
    clear: both;
    position: fixed;
    margin: auto;
    z-index: 1000000;
    width: 100%;
    top: 0px;


    a {
      text-decoration: none;

      :hover {
        text-decoration: underline;
      }

    }


    .naas-portal-logo {

      margin-right: 20px;

      img {
        display: inline-block;
        width: 210px;
        height: auto;
        padding: 20px 0;
        margin: 0 20px 0 10px;
      }
    }




    .toggle {
      color: #fff;
      font-size: 2rem;
      margin: 0;
      background: rgba(255, 255, 255, 0.1);
      padding: 1rem;
      float: left;
    }



    @include from-breakpoint("max-width") {
      text-align: left;

      .toggle {
        display: none;
      }
    }

  }




  /*Global Nav*/
  .naas-portal-global-nav {
    /*margin-bottom: 14px;*/

    background-color: #4b286d;

    a {
      display: inline-block;
      padding: 7px 15px;
      font-size: 16px;
      text-decoration: none;
    }
    a:hover, a:focus {
      text-decoration: underline;
      /*color: #8c68a6;*/
    }


    .naas-portal-global-nav__link--active {
      background-color: #fff;
      color: #49166d;
    }

    .naas-portal-global-nav__link {
      color: #fff;
    }


    /*@media screen and (max-width: 767px) {
      .naas-portal-global-nav {
        margin-top:5px;
      }
    }*/

    .naas-portal-global-nav__item {
      display: inline-block;
      /*border-right: 1px solid #49166d;
      padding: 0 8px;*/
      /*font-family: "telusweb", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400*/
    }

    .naas-portal-global-nav__item:first-child {
      padding-left: 0
    }

    .naas-portal-global-nav__item:last-child {
      border-right: none
    }

    /*header:: secondary nav*/


  }

  /*Secondary nav*/
  .naas-portal-secondary-nav__wrapper {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);


    .naas-portal-secondary-nav__container {
      margin: 0 auto;
      max-width: $max-width;
      padding: 10px 0;
      height: auto;

      .naas-portal-secondary-nav {
        max-width: 700px;
        display: inline-block;
        width: initial;
        float: none;

      }
      .secondary-nav-burger {
        display: none;
      }

      .naas-portal-secondary-nav__item {
        display: inline-block;
        padding: 25px 10px;
        width: initial;
        border-bottom: 0;
      }
      .naas-portal-secondary-nav__item:hover {
        background-color:  transparent;
      }

      .naas-portal-secondary-nav__item:last-child {
        float: right;
        padding-right: 20px;
        margin-left: 4em;
      }

      .naas-portal-secondary-nav__link--active {
        background-color: #fff;
        color: #49166d;
      }

      .naas-portal-secondary-nav__link {
        color: #595859;
      }

      .naas-portal-logo {

        margin-right: 20px;

        img {
          display: block;
          width: 210px;
          height: auto;
          padding: 20px 0;
        }
      }

      .naas-portal-user-management__container {
        /*float: right;*/
        display: inline-block;
        margin:0 20px;
      }

      /*Might be temp*/
      .naas-portal-search__container {
        display: inline-block;
        margin:0 0 0 40px;
      }
    }
  }




}


@include from-breakpoint("large") {


  .naas-portal-secondary-nav__item:last-child {
    margin-left: 7em;
  }

}













/*@include from-breakpoint("medium") {

}*/

/*

@media (min-width: 768px) and (max-width: 960px){


  .show-mobile{display: block}
  .hide-mobile{display: none}
  /!*Global fix*!/
  .mobile-no-padding{padding: 0!important;}
  .columns:first-child {
    padding-left: inherit;
  }

  #site-header {
    height: 38px;
    position: relative;
  }

  .naas-portal-logo img{padding: 0; margin: 0 40px 0px 10px; width: 160px}

  header.nav-closed .naas-portal-secondary-nav{
    display: none;
  }
  .naas-portal-secondary-nav{
    min-width: 200px;
    width:100%;
    display: block;
    background: white;
    float: right;
  }
  .naas-portal-secondary-nav__container {
    padding:  0;
    height: 60px;
  }
  .secondary-nav-burger{
    font-size: 1.5em;
    display: block;

    padding-top: 20px;
    position: absolute;
    right: 20px;
  }

  .naas-portal-secondary-nav__item {
    display: block;
    padding:5px 10px;
    text-align: right;
    width: 100%;
    border-bottom: solid 1px #eaeaea;
  }
  .naas-portal-secondary-nav__item:hover {
    background-color:  #eaeaea;
  }
  .naas-portal-secondary-nav__item a:hover,  .naas-portal-secondary-nav__item a:focus {
    background-color:  transparent;
    text-decoration: none;
  }

  .naas-portal-user-management__container, .naas-portal-search__container {display: none}

  .poc-demo-container  {margin-top: 10px;}
  .poc-demo-container  nav {box-shadow:none; margin-top:10px}
  /!*.poc-demo-container  nav ul{display: none }
   .wrapper-dropdown:hover ul{display: block}*!/

  nav li.section{display: none}
  nav li.subsection, nav a.section{border-bottom: solid 1px #eaeaea;}
  nav  a.section{font-size: 1.5em;  padding: 1.25em 0 1.25em 1.5em;}






}

/!*!//mobile*!/
@media screen and (max-width: 768px) {







}

@media (min-width: 1280px) {


}

@media (min-width: 768px) and (max-width: 1099px) {
  .naas-portal-logo img{
    width: 150px;
    padding: 0;
  }
  #site-header a {
    font-size: .9em;
  }


  .naas-portal-secondary-nav{
    max-width: none;
  }

}*/
