<div id="myModal" class="modal" v-bind:class="{ 'hidden': !isShown }">


    <!-- Modal content -->
    <div class="modal-content-wrapper">
        <a href="#" class="close" v-on:click="isShown = false"><i class="icon fa fa-close"></i></a>
        <div class="modal-content">
            <p>static content</p>
            <p>{{{modalContent}}}</p>
        </div>
    </div>

</div>