<ol class="step-tracker">
    <li class="checked"><a href="#"><span class="step-tracker__num"><!--<i class="icon fa fa-checked"></i>--></span><span class="step-tracker-sr sr-only">Step 1</span><span class="step-tracker__title">About your <br> Business</span></a></li>
    <li class="current"><a href="#"><span class="step-tracker__num">2</span><span class="step-tracker-sr sr-only">Current Step</span><span class="step-tracker__title">Internet <br>Underlay</span></a></li>
    <li><a href="#"><span class="step-tracker__num">3</span><span class="step-tracker-sr sr-only">Step 3</span><span class="step-tracker__title">Pick your NaaS<br>services</span></a></li>
    <li><a href="#"><span class="step-tracker__num ">4</span><span class="step-tracker-sr sr-only">Step 4</span><span class="step-tracker__title">Pick your <br>Add-ons</span></a></li>
    <li><a href="#"><span class="step-tracker__num">5</span><span class="step-tracker-sr sr-only">Step 5</span><span class="step-tracker__title">Pick your <br>services</span></a></li>
</ol>