/*step-tracker-progress-steps*/

@include from-breakpoint("medium") {

  ol[class*="step-tracker"] {
    list-style: none;
    height: 60px;
    padding: 0;
    margin:20px auto;
    /*max-width: 600px;*/
    width:100%;
    max-width: 1140px;

    li {
      display: inline-block;
      position: relative;
      height: 3px;
      background-color: $color-purple;
      text-align: left;
      @include columns(12/5);

      a {
        color: $color-purple;
        text-decoration: none;
      }

      &.checked{
        a .step-tracker__num{
          background-color: $color-purple;
          color:white;
        }
      }
    }
    /*ol.step-tracker-3 { }
    ol.step-tracker-3 li { min-width:32%; }
    ol.step-tracker-5 {max-width: 640px; }
    ol.step-tracker-5 li { min-width:20%; }
    ol.step-tracker-6 {max-width: 700px; }
    ol.step-tracker-6 li { min-width:18%; }*/

    li span.step-tracker__num {
      font-size: 1.2rem;
      font-weight: bold;
      height: 35px;
      line-height: 35px;
      position: absolute;
      top: -15px;
      right: -6px;
      width: 35px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%; /* may require vendor prefixes */
      background: #fff;
      border: solid 2px $color-purple;
    }

    li span.step-tracker__title {
      position: absolute;
      top: 28px;
      left: -3.5em;
      font-size: 1.4rem;
      font-family: HelveticaNeue;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      color: #50565d;
      white-space: nowrap;
      min-width: 120px;
    }

    li:first-child span.step-tracker__title {

      right: -3.5em;

    }
/*    li.step-tracker-lst span.step-tracker__num {
      background: $color-purple;
      color: #fff;
    }*/
    li.step-tracker-lst span.step-tracker__title {
      color: $color-purple
    }
    li.step-tracker-cur,
    li.step-tracker-lst {
      background: #666;
    }
    li.step-tracker-cur span.step-tracker__title {
      color: $color-purple
    }
    li.step-tracker-cur span.step-tracker__num {
      color: #FFF;
      background: #D81E05;
      line-height: 30px;
      border: 1px solid #ccc;
      height: 33px;
      width: 33px;
      z-index: 1;
      top: -10px;
    }
    li:last-child {
      background: none;
      @include columns(1);
    }

    li:first-child {
      margin-left: 26.4px
    }


  }
}