
<link rel="stylesheet" href="css/thorium.css">
<link rel="stylesheet" href="css/style.css">
<script>

   // setTimeout(function(){ initModal() }, 2000)

    </script>
<style>
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


</style>
<script>

    function openParentModal(){
        var content = document.getElementById("modalContent").value;
        if ('parentIFrame' in window) window.parentIFrame.sendMessage('vm.broadcastEvent(\'toggleModal\',\''+content+'\')')
    }

</script>
<style>
    .mega-container{width:133%}
</style>

<div class="" style="padding-top: 20px; padding: 20px;">
    <button onclick="javascript:init()" class="button button-secondary">
        Open modal in parent</button>


    <br>

    <button id="myBtn" >Open  Modal</button>
    <br>

     The Modal
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">x</span>
            <p>Some text in the Modal..</p>
        </div>

    </div>
    What is Lorem Ipsum?

    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    <br><br>
    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    <br><br>
    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

</div>
<div class="columns-demo show-mobile" style="height: 10px">
    <div class="small-1 columns">1</div>
    <div class="small-1 columns" >2</div>
    <div class="small-1 columns" >3</div>
    <div class="small-1 columns" >4</div>
    <div class="small-1 columns" >5</div>
    <div class="small-1 columns" >6</div>
    <div class="small-1 columns" >7</div>
    <div class="small-1 columns" >8</div>
    <div class="small-1 columns" >9</div>
    <div class="small-1 columns" >10</div>
    <div class="small-1 columns" >11</div>
    <div class="small-1 columns" >12</div>

</div>
<div class="mega-container columns-demo hide-mobile" >
    <div class="small-1 columns">1</div>
    <div class="small-1 columns" >2</div>
    <div class="small-1 columns" >3</div>
    <div class="small-1 columns" >4</div>
    <div class="small-1 columns" >5</div>
    <div class="small-1 columns" >6</div>
    <div class="small-1 columns" >7</div>
    <div class="small-1 columns" >8</div>
    <div class="small-1 columns" >9</div>
    <div class="small-1 columns" >10</div>
    <div class="small-1 columns" >11</div>
    <div class="small-1 columns" >12</div>

</div>
<script src="iframeResizer.contentWindow.min.js"></script>

<script>
        function init(){
            alert("trying to access parent variable ", window.a )

        }


        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        //alert(document.height)
        /*init()*/
        //setTimeout(function(){ initModal() }, 2000)




</script>
