
<link rel="stylesheet" href="css/thorium.css">
<link rel="stylesheet" href="css/style.css">
<script>

    function openParentModal(){
        var content = document.getElementById("modalContent").value;
        if ('parentIFrame' in window) window.parentIFrame.sendMessage('vm.broadcastEvent(\'toggleModal\',\''+content+'\')')
    }

</script>
<style>
    .mega-container{width:133%}
</style>

<div class="" style="padding-top: 20px; padding: 20px;">
    <button onclick="javascript:openParentModal()" class="button button-secondary">
        Open modal in parent</button>
    <input width="" placeholder="Enter content to show in modal" id="modalContent" style="width: 50%">

    <br>
    What is Lorem Ipsum?

    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    <br><br>
    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    <br><br>
    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

</div>
<div class="columns-demo show-mobile" style="height: 10px">
    <div class="small-1 columns">1</div>
    <div class="small-1 columns" >2</div>
    <div class="small-1 columns" >3</div>
    <div class="small-1 columns" >4</div>
    <div class="small-1 columns" >5</div>
    <div class="small-1 columns" >6</div>
    <div class="small-1 columns" >7</div>
    <div class="small-1 columns" >8</div>
    <div class="small-1 columns" >9</div>
    <div class="small-1 columns" >10</div>
    <div class="small-1 columns" >11</div>
    <div class="small-1 columns" >12</div>

</div>
<div class="mega-container columns-demo hide-mobile" >
    <div class="small-1 columns">1</div>
    <div class="small-1 columns" >2</div>
    <div class="small-1 columns" >3</div>
    <div class="small-1 columns" >4</div>
    <div class="small-1 columns" >5</div>
    <div class="small-1 columns" >6</div>
    <div class="small-1 columns" >7</div>
    <div class="small-1 columns" >8</div>
    <div class="small-1 columns" >9</div>
    <div class="small-1 columns" >10</div>
    <div class="small-1 columns" >11</div>
    <div class="small-1 columns" >12</div>

</div>
<script src="iframeResizer.contentWindow.min.js"></script>
