/**

File:         animation.scss
Description:  Animation, transition effects


    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Pulse
    2. Blur
    3. Slide Down
    4. Flip
    5. Scale out

*/

/* ---------------------------------------
    1.  Pulse
-----------------------------------------*/

@keyframes pulse {
  0% { transform: scale(0.1, 0.1); opacity: 0.0;}
  50% { opacity: 1.0;}
  100% { transform: scale(1.2, 1.2); opacity: 0.0;}
}


/* ---------------------------------------
    1.  Bounce
-----------------------------------------*/

// OR, a mixin ?
@mixin fx-bounce($scale-size: 1.1) {
  transform: scale(1);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 1.8, 1, 1.8);
}