/**

File:         flexgrid.scss
Description:  Provides a Flexbox implementation of a grid.
              ** Note: this is not intended for layout purposes; use _grid for that.
              Instead, this will allow easy arrangements of tiles, cards, etc.
              within a page module. If flexbox is not supported, there is an
              elegant fallback to simple, full-width blocks.


    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Helper
    2. Grid

*/

/* ---------------------------------------
  1. Helpers
-----------------------------------------*/

@mixin item-width($cols:1) {
  $column-width: percentage($cols / $columns);
  flex-basis: $column-width;
  max-width: $column-width;
}

/* ---------------------------------------
  2.  Flex Grid
-----------------------------------------*/

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -($padding);
}

.grid-item {
  flex: 0 0 auto;
  padding: $padding;
  display: inline-flex;  // so child items can also be flex-ified, if needs be
}
