<footer>
    <section class="site-map">
        <div class="container">

            <div class="columns small-12 medium-4">
                <h4><a href="http://business.telus.com/en/business/qc/mobility">Mobility</a></h4>
                <ul >
                    <li><a href="http://business.telus.com/en/business/qc/plans-cat">Plans</a>
                    </li>
                    <li><a href="http://business.telus.com/en/business/qc/phones-cat">Mobile Phones</a>
                    </li>
                    <li><a href="http://business.telus.com/en/business/qc/tablets-cat">Tablets</a>
                    </li>
                    <li><a href="http://business.telus.com/en/business/qc/mobile-internet-cat">Mobile Internet Solutions</a>
                    </li>
                    <li><a href="http://business.telus.com/en/business/qc/business-travel-roaming">Travel &amp; Roaming</a>
                    </li>
                    <li><a href="http://business.telus.com/en/business/qc/network-and-security-solutions">Business Network Solutions</a>
                    </li>
                    <li><a href="http://business.telus.com/en/business/qc/mobility/push-to-talk-naas-portal-link">TELUS Link – Push To Talk</a>
                    </li>
                </ul>

            </div>
            <div class="columns small-12 medium-4">
                <h4><a href="/office-phone">Phone</a></h4>
                <ul >
                    <li><a href="/office-phone/office-phone-lines">Business Phone</a>
                    </li>
                    <li><a href="/office-phone/centrex-managed-phone-network">Centrex</a>
                    </li>
                    <li><a href="/office-phone/pri-digital-network">PRI</a>
                    </li>
                    <li><a href="/office-phone/long-distance">Long Distance</a>
                    </li>
                    <li><a href="/office-phone/toll-free-number-1-800">Toll-Free</a>
                    </li>
                </ul>
                </div>
            <div class="columns small-12 medium-4">
                <h4><a href="http://business.telus.com/business/qc/collaboration">Collaboration</a></h4>
                <ul >
                    <li><a href="http://business.telus.com/business/qc/collaboration/business-email">Business Email</a>
                    </li>
                    <li><a href="http://business.telus.com/business/qc/collaboration/instant-connect">Instant Messaging</a>
                    </li>
                    <li><a href="http://business.telus.com/business/qc/collaboration/workspace">Collaborative Workspace</a>
                    </li>
                    <li><a href="http://business.telus.com/business/qc/collaboration/audio-conferencing">Audio Conferencing</a>
                    </li>
                    <li><a href="http://business.telus.com/business/qc/collaboration/web-conferencing">Web Conferencing</a>
                    </li>
                </ul>
            </div>

    </section>
    <section class="site-meta">
        <div class="container">
            <ul class="inline">
                <li><a href="http://about.telus.com/community/english/careers">Careers</a>
                </li>
                <li><a href="http://about.telus.com/community/english/privacy">Privacy</a>
                </li>
                <li><a href="http://about.telus.com/community/english/legal">Legal</a>
                </li>
                <li><a href="http://about.telus.com/community/english/security">Security</a>
                </li>
                <li><a href="http://about.telus.com/community/english/about_us/for_our_customers/customer_feedback/">Complaints</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="footer-logo">
        <div class="container"> <img src="http://affaires.telus.com/webconcepteur/styles/telusaffaires/fichiersGlobal/images/logo-footer.png">
            <p>© 2016 TELUS Communications Company</p>
        </div>
    </section>
</footer>