/**

File:         variables.scss
Description:  Site-wide variables


    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Grid
    2. Colours
    3. Typography
    4. Z-index
    etc...


*/


/* ---------------------------------------
  1.  Grid
-----------------------------------------*/

// Mobile-first.
$breakpoints: (
  small:  (null,   768px),	// default, no min-width. ("320" - 768px)
  medium: (768px,  960px),
  large:  (960px,  null)    // no max-width. Our max- container width covers that case
);
$max-width: 1280px;         // max _container_ width. Page can be wider as there'll then be margins

// $breakpoints: (
//   small:  (null,  44em),
//   medium: (44em,  56em),
//   large:  (56em,  null)
// );
// $max-width: 74em;

$columns: 12;
$gutter: 30px;
$padding: $gutter / 2;


/* ---------------------------------------
  2.  Colours
-----------------------------------------*/

$color-purple: #4b286d;
$color-green: #248700;
$color-green-light: #33a708;
$color-blue: #09aaef;
$color-red: #b72032;

$color-grey: #54595f;
$color-grey-dark: #2a2c2e;
$color-grey-light: #f4f4f4;

$color-font: #666666;
$color-font-light: #979797;
$color-font-dark: #222222;

$color-border: #aaaaaa;



/* ---------------------------------------
  3.  Typography
-----------------------------------------*/

$font-sans: Arial, sans-serif;
$font-serif: Georgia, serif;
$font-telus: 'Telus', $font-sans;

$font-size-base: 17px;
$font-line-height: 1.5;


/* ---------------------------------------
  4.  Z-Index
-----------------------------------------*/

$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;
$z-index-6: 600;
$z-index-7: 700;
$z-index-8: 800;
$z-index-9: 900;


/* ---------------------------------------
  5.  etc
-----------------------------------------*/

// . ...
//
//