
%brick-base {
  border-radius: 15px;
  display: inline-block;
  width: 100%;
  font-family: $font-telus;
  font-size: 1rem;
  padding: 1rem 2rem;
}

// %a11y-hide
%accessible-hide {
  // clip has been deprecated but is still supported
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  margin: -1px;
  height: 1px;
  width: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  // ensure there are spaces in sr text
  word-wrap: normal;
}