//@import '../../../scss/settings/_variables.scss';
//@import '../../../scss/telus.scss';
/*
.show-mobile{display: none}

.poc-demo-container {margin-top: 134px; max-width: 1368px; margin-left:auto; }
.poc-demo-container.container { margin-left:auto; margin-right:auto; padding: 0}

.poc-demo-container  nav {padding: 0; box-shadow:0 3px 5px 3px rgba(0, 0, 0, 0.2); margin-bottom: 10px; }

.poc-demo-container  nav ul {margin:0;}
.poc-demo-container  nav li {margin:0;}
.poc-demo-container  nav li:hover {background-color: #eaeaea}

.poc-demo-container  nav a {padding:1.25em;}

.poc-demo-container  nav a .icon{margin:0 1em; width:1.5em; height: 1.5em}

.poc-demo-container  nav li.section {border-bottom: solid 1px #adadad; }

@media (min-width: 960px) {
  .poc-demo-container  nav{
    max-width: 230px;
  }
  .naas-portal-secondary-nav{
    max-width: 100%;
  }

}*/
.container{}

.poc-demo-container  {margin-top: 10px;}
.poc-demo-container  nav {box-shadow:none; margin:10px -5% 0;}
/*.poc-demo-container  nav ul{display: none }
 .wrapper-dropdown:hover ul{display: block}*/

/*//nav li.section{display: none}*/
nav li.subsection, nav li.section, nav a.section{border-bottom: solid 1px #eaeaea;padding: 0.5em;  text-decoration: none;}

nav  a.section{font-size: 1.25em;  padding: 1em 1em 1em 1.5em;}
.container {
  height: 100%; }

.mobile-no-padding{padding: 0!important;}



@include from-breakpoint("medium") {

  /*.show-mobile{display: none}*/

  /*  nav a {

      display: block; }*/

  .poc-demo-container {
    margin-top: 134px;
    max-width: 1368px;
    margin-left: auto;
    .container {
      margin-left: auto;
      margin-right: auto;
      padding: 0
    }
  }

  .container {
    nav {
      padding: 0;
      box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.2);
      margin-bottom: 10px;
      max-width: 230px;
    }

    nav ul {
      margin: 0;
    }

    nav li {
      margin: 0;
      border-bottom:none;
    }
    nav li:hover {
      background-color: #eaeaea
    }

    nav li a {
      padding: 0.5em;
      display: block;

    }

    nav a .icon {
      margin: 0 1em;
      width: 1.5em;
      height: 1.5em
    }

    nav li.section {
      border-bottom: solid 1px #adadad;
    }

  }

}
