<nav>

  <div class="wrapper-dropdown" >
    <a class="show-mobile section"  v-on:click="toggleMenu()">
     <!-- <i class="icon fa {{selectedMenu.img}}" aria-hidden="true"></i>-->
      {{selectedMenu.label}}

        <i aria-hidden="true" class="icon fa fa-chevron-down" style="float: right"></i>
    </a>

 <!-- <ul >
    <li class="section">
      <a href="#">
        <i class="icon fa fa-chevron-left" aria-hidden="true"></i>
        Account Hub
      </a>
    </li>
    <li class="subsection"><a href="#">
  
      <i class="icon fa fa-globe" aria-hidden="true"></i>
      Locations</a></li>
    <li class="subsection"><a href="#"> <i class="icon fa fa-bar-chart" aria-hidden="true"></i>Reports</a></li>
    <li class="subsection"><a href="#"> <i class="icon fa fa-truck" aria-hidden="true"></i>Orders</a></li>
    <li class="subsection"><a href="#"> <i class="icon fa fa-user-plus" aria-hidden="true"></i>User Management</a></li>
    <li class="subsection"><a href="#"> <i class="icon fa fa-gear" aria-hidden="true"></i>Configuration</a></li>
  </ul>
-->



    <ul v-if="navMenuObj" v-bind:class="{ 'hide-mobile': !nowSelecting }">
      <li v-for="menu in navMenuObj" v-bind:class="{ 'section': menu.isSection, 'subsection': !menu.isSection, 'hide-mobile': menu.isSelected }">
        <a href="{{menu.link}}" v-on:click="selectMenu(menu)"> <i class="icon fa  {{ menu.img }}" aria-hidden="true"></i> {{ menu.label }}</a>

      </li>
    </ul>
  </div>
</nav>