/**

File:         links.scss
Description:  Telus link styles


    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Basic Links


*/

/* ---------------------------------------
  1.  Basic Links
-----------------------------------------*/

a {
  color: $color-green;
  text-decoration: underline;

  // &:hover {
  //   text-decoration: underline;
  // }
}

main a:not([class]) {
  // default link styles
}

