/**

File:         lists.scss
Description:  Telus list styles


    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Basic List
    2. Styled Lists


*/

/* ---------------------------------------
  1.  Basic Lists
-----------------------------------------*/

main {
  ul, ol {
    margin-bottom: 1rem;
  }
}


/* ---------------------------------------
  2.  Styled Lists
-----------------------------------------*/

.bullets {
  li {
    list-style-type: disc;
    margin-left: 1rem;
  }
}

.circle {
  li {
    list-style-type: circle;
    margin-left: 1rem;
  }
}

/* ---------------------------------------
  3.  Inline lists
-----------------------------------------*/

.inline {
  li {
    padding: 1em;
    display: inline-block;
  }
}
