  <div class="container">
    <h1>Data retrieval over HTTP</h1>
    <button class="btn btn-primary" v-on:click="getData()">Get Data</button>



    <ul  v-if="swapiObject.results">
      <li v-for="person in swapiObject.results">
        {{ person.name }}
      </li>
    </ul>
  </div>