
@import "../settings/variables";
@import "../utility/mixins";
@import "../foundation/grid";
/*
@import "../../components/footer/footer";
@import "../../components/header/header";
@import "../../components/nav/nav";*/
@import "../../../components/step-tracker/step-tracker";


h1{
  padding-top: 30px;
  font-family: HelveticaNeue;
  /*font-size: 72px;
  font-weight: 100;
  line-height: 0.36;
  color: #4b286d;*/
}