/**

File:         buttons.scss
Description:  Telus button styles


    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Button


*/


/* ---------------------------------------
  1.  Button
-----------------------------------------*/

button {
  appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
  font-family: inherit;
  line-height: 1;
  // padding: 0;
}

.button {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: $font-telus;
  font-size: rem(19px);
  font-weight: bold;
  margin: 0.5em 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-decoration: none;
  vertical-align: top;

  transition: background 0.2s;

  &-primary {
    // 1
    // background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="190" height="75" viewBox="0 0 190 75" xmlns="http://www.w3.org/2000/svg"><title>Rectangle 56</title><path d="M0 37.5c0-11.63793 1.49978-22.406 1.49978-22.406.61906-5.47954 5.5781-10.35924 11.07397-10.86577C12.57375 4.22823 52.4138 0 95 0s82.42625 4.22823 82.42625 4.22823c5.49692.52146 10.56915 5.38082 11.21735 10.86036 0 0 1.3564 6.8941 1.3564 22.4114 0 .2638-.0003.5242-.0009.7814-.03478 14.8706-1.35533 21.6482-1.35533 21.6482-.69834 5.4665-5.71357 10.3776-11.20776 10.9229 0 0-34.6084 4.14742-82.436 4.14742-47.8276 0-82.436-4.14743-82.436-4.14743-5.4915-.5661-10.4705-5.4652-11.0661-10.96508C1.4979 59.8875 0 49.13792 0 37.5z" fill-rule="evenodd"/></svg>');
    // background-size: 100% 100%;
    // CONS: no access to svg in DOM; cannot change colour (ie. on hover, disabled, etc); size scales uniformly, so button cannot grow wider

    // 2
    // mask-image: url('data:image/svg+xml;charset=UTF-8,<svg width="190" height="75" viewBox="0 0 190 75" xmlns="http://www.w3.org/2000/svg"><title>Rectangle 56</title><path d="M0 37.5c0-11.63793 1.49978-22.406 1.49978-22.406.61906-5.47954 5.5781-10.35924 11.07397-10.86577C12.57375 4.22823 52.4138 0 95 0s82.42625 4.22823 82.42625 4.22823c5.49692.52146 10.56915 5.38082 11.21735 10.86036 0 0 1.3564 6.8941 1.3564 22.4114 0 .2638-.0003.5242-.0009.7814-.03478 14.8706-1.35533 21.6482-1.35533 21.6482-.69834 5.4665-5.71357 10.3776-11.20776 10.9229 0 0-34.6084 4.14742-82.436 4.14742-47.8276 0-82.436-4.14743-82.436-4.14743-5.4915-.5661-10.4705-5.4652-11.0661-10.96508C1.4979 59.8875 0 49.13792 0 37.5z" fill-rule="evenodd"/></svg>');
    // mask-repeat: no-repeat;
    // mask-size: 100% 100%;
    // CONS: doesn't scale; works at one size, really

    // 3
    // mask-image: url('data:image/svg+xml;charset=UTF-8,<svg width="95" height="75" viewBox="0 0 95 75" xmlns="http://www.w3.org/2000/svg"><title>Rectangle 56</title><path d="M0 37.5c0-11.638 1.4998-22.406 1.4998-22.406.619-5.4795 5.578-10.3592 11.074-10.8658C12.5738 4.2282 52.4138 0 95 0v75c-47.8276 0-82.436-4.1474-82.436-4.1474-5.4915-.566-10.4705-5.4652-11.066-10.965C1.498 59.8876 0 49.1378 0 37.5z" fill-rule="evenodd"/></svg>'),
    //             url('data:image/svg+xml;charset=UTF-8,<svg width="95" height="75" viewBox="0 0 95 75" xmlns="http://www.w3.org/2000/svg"><title>Rectangle 56</title><path d="M95 37.5c0-11.638-1.4998-22.406-1.4998-22.406-.619-5.4795-5.578-10.3592-11.074-10.8658C82.4262 4.2282 42.5862 0 0 0v75c47.8276 0 82.436-4.1474 82.436-4.1474 5.4915-.566 10.4705-5.4652 11.066-10.965 0 0 1.498-10.7497 1.498-22.3876z" fill-rule="evenodd"/></svg>');
    // mask-position: left, right;
    // mask-repeat: no-repeat, no-repeat;
    // CONS: not responsive; if button grows too big/small, the masks will not cover properly

    // 4
    // clip-path: url('data:image/svg+xml;charset=UTF-8,<svg width="190" height="75" viewBox="0 0 190 75" xmlns="http://www.w3.org/2000/svg"><title>Rectangle 56</title><path d="M0 37.5c0-11.63793 1.49978-22.406 1.49978-22.406.61906-5.47954 5.5781-10.35924 11.07397-10.86577C12.57375 4.22823 52.4138 0 95 0s82.42625 4.22823 82.42625 4.22823c5.49692.52146 10.56915 5.38082 11.21735 10.86036 0 0 1.3564 6.8941 1.3564 22.4114 0 .2638-.0003.5242-.0009.7814-.03478 14.8706-1.35533 21.6482-1.35533 21.6482-.69834 5.4665-5.71357 10.3776-11.20776 10.9229 0 0-34.6084 4.14742-82.436 4.14742-47.8276 0-82.436-4.14743-82.436-4.14743-5.4915-.5661-10.4705-5.4652-11.0661-10.96508C1.4979 59.8875 0 49.13792 0 37.5z" fill-rule="evenodd"/></svg>');
    // CONS: doesn't work with inline SVG;


    // @extend %brick-base;
    background-color: $color-green-light;
    border-radius: 15px;
    color: #fff;
    max-width: 10em;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;

    &:hover {
      background-color: $color-green;
    }
  }

  &-secondary {
    color: $color-green;

    &::after {
      content: url('data:image/svg+xml;charset=UTF-8,<svg width="6" height="14" viewBox="0 0 6 14" xmlns="http://www.w3.org/2000/svg"><path d="M1.0606 13l3.606-5.154c.316-.4516.3196-1.1768.0004-1.6308L1 1" stroke="#248700" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      vertical-align: middle;
      margin: 0.5em;
    }

    &:hover {
      text-decoration: underline;
    }

  }

  &:disabled {
    background-color: $color-font-light;
    cursor: default;
  }
}
