/**

File:         forms.scss
Description:  Styles for various form elements live here.


    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Defaults
    2. Textarea
    3. Select
    4. Radios & Checkboxes
    5. Error states

*/


/* ---------------------------------------
  1.  Defaults
-----------------------------------------*/

fieldset {
  margin-bottom: 1em;
  max-width: 400px;
}

label {
  display: block;
  color: $color-font-light;
}

input, textarea, select {
  color: $color-grey-dark;
  font-size: 1em;
  line-height: 1.5;
  outline: 0;
  border: 1px solid $color-border;
  border-radius: 10px;
  padding: 1.5rem 1rem 0.5rem;
  width: 100%;

  + label {
    position:absolute;
    pointer-events:none;
    left: 1rem;
    top: 1rem;
    transition: all 0.2s;
  }

  &:focus {
    border: 1px solid $color-green;
    box-shadow: 0 0 3px $color-green;
  }
}

input, textarea {
  &:valid + label,      // label stays positioned if there is content in the input
  &:focus + label {
    top: 0.5rem;
    font-size: 0.75rem;
  }
}

select {
  + label {             // always small and "focused"
    top: 0.5rem;
    font-size: 0.75rem;
  }
}


/* ---------------------------------------
  2.  Textarea
-----------------------------------------*/

textarea {
  height: 12em;
}


/* ---------------------------------------
  3.  Select
-----------------------------------------*/

select {
  background-color: #fff;
  appearance: none;

  // -moz-appearance: none;
  text-indent: 0.01px;  // FF
  text-overflow: '';    // FF

  &::-ms-expand {
    display: none;
  }
}

// we wrap select in .select, so we can add a pseudo-element
.select:after {
  content: "▾";
  position: absolute;
  right: 1em;
  top: 1em;
}

/* ---------------------------------------
  4.  Radios & Checkboxes
-----------------------------------------*/

input[type="radio"],
input[type="checkbox"] {
  @extend %accessible-hide;
  cursor: pointer;

  + span {
    color: $color-font;

    &::before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      line-height: 1;
      vertical-align: middle;
      margin-right: 1rem;
      border: 1px solid $color-border;
      background-color: #fcfcfc;
      transition: all 0.2s;
    }
  }

  &:disabled {
    cursor: not-allowed;
    + span {
      color: $color-font-light;
      &::before {
        background-color: #f3f3f3;
        border-color: $color-font-light;
      }
    }
  }

  &:focus {
    + span::before {
      border: 1px solid $color-green;
      box-shadow: 0 0 3px $color-green;
    }
  }
}

input[type="radio"] {
  + span::before {
    border-radius: 50%;
  }

  &:checked {
    + span::before {
      border: 0.4em solid $color-green;
    }
  }
}

input[type="checkbox"] {
  + span::before {
    border-radius: 4px / 7px 7px;
  }

  &:checked {
    + span::before {
      content: "\2714";
      color: #fff;
      background-color: $color-green;
    }
  }
}


/* ---------------------------------------
  5.  Error
-----------------------------------------*/

.error-message {
  font-size: rem(15px);
  margin: 0.5em;
  display: none;
}

.error {
  input, textarea, select {
    border-color: $color-red;
    color: $color-red;
  }

  label, .error-message {
    color: $color-red;
  }

  .error-message {
    display: block;
  }
}

