@charset "UTF-8";
/*!
                                                                         ,II7
                                                                       I777777                                 78OO
                                                                     77777~777                         I8OOO8,
                                                                   77777  +777                 I8OOOOO8:
                                                                 77777   ~777          ?8OOOOOOO8,
                                                               I7777    +777,  ?DOOOOOOOOOO
                                                             ~7777,    =77IZOOOOOOOO8~
                                                            777I$8OOOOI777ZOO8Z
                                                        ,ZOOOOOOOOOO87777
                                                 =8OOOOOOOOOOOOO88,7777I
                                          IOOOOOOOOOOOOOOO8Z     :7777:
                                  :8OOOOOOOOOOOOOOOOO?777I      77777
                            $8OOOOOOOOOOOOOOOO8,    77777     I7777:
                    :8OOOOOOOOOOOOOOOOO87         ,7777:    I7777I
             ?OOOOOOOOOOOOOOOOOOOO               ?7777    ?7777I
            OOOOOOOOOOOOOO87                    7I77I   777777
           OOOOOOOOOO                          7777: ,777777
          +OO8?                              :7777 I77777+
                                            ~7777777777~
                                           ~77777777I
                                         +77777777                                         I
                                      ?77777777~                                        II
                                  ,77777777777                                       I7+
                               :7777777777777                                     =77,
                            I777777777I?7777                                   =I77
                         77777777777   7777I                                 7777
                     +77777777777     =7777                              ,I777~
                 =77777777777+        I7777                           +77777
             +I77777777777:           I7777                        777777:
         I777777777777I               :7777+                   I777777+
    :77777777777777:                   777777             :I7777777+
  +7777777777777,                       77777777I=:~+7777777777I+
  7777777777~                            :I77777777777777777I
 7777777?                                   :7777777777?
,777I
+
*/

*,
::after,
::before {
    box-sizing: border-box
}
.button-primary,
.carousel-nav,
.footer-logo,
.site-meta {
    text-align: center
}
input[type=radio],
input[type=checkbox] {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    margin: -1px;
    height: 1px;
    width: 1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    word-wrap: normal;
    cursor: pointer
}
.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: -15px
}
.grid-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(.1, .1);
        transform: scale(.1, .1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}
@keyframes pulse {
    0% {
        -webkit-transform: scale(.1, .1);
        transform: scale(.1, .1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}
h1,
h2,
h3,
h4,
h5,
h6,
html {
    font-family: Telus, Arial, sans-serif
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
@font-face {
    font-family: Telus;
    font-weight: light;
    font-style: normal;
    src: url(https://cdn.telus.digital/thorium/v1.0/LabGrotesque-Light.woff) format("woff"), url(https://cdn.telus.digital/thorium/v1.0/LabGrotesque-Light.woff2) format("woff2")
}
@font-face {
    font-family: Telus;
    font-weight: 400;
    font-style: normal;
    src: url(https://cdn.telus.digital/thorium/v1.0/LabGrotesque-Regular.woff) format("woff"), url(https://cdn.telus.digital/thorium/v1.0/LabGrotesque-Regular.woff2) format("woff2")
}
@font-face {
    font-family: Telus;
    font-weight: 400;
    font-style: italic;
    src: url(https://cdn.telus.digital/thorium/v1.0/LabGrotesque-Italic.woff) format("woff"), url(https://cdn.telus.digital/thorium/v1.0/LabGrotesque-Italic.woff2) format("woff2")
}
@font-face {
    font-family: Telus;
    font-weight: 700;
    font-style: normal;
    src: url(https://cdn.telus.digital/thorium/v1.0/LabGrotesque-Medium.woff) format("woff"), url(https://cdn.telus.digital/thorium/v1.0/LabGrotesque-Medium.woff2) format("woff2")
}
.columns {
    float: left;
    padding: 0 15px
}
.columns:first-child {
    padding-left: 0
}
.columns:last-child {
    padding-right: 0
}
.small-1 {
    width: 8.33333%
}
.small-2 {
    width: 16.66667%
}
.small-3 {
    width: 25%
}
.small-4 {
    width: 33.33333%
}
.small-5 {
    width: 41.66667%
}
.small-6 {
    width: 50%
}
.small-7 {
    width: 58.33333%
}
.small-8 {
    width: 66.66667%
}
.small-9 {
    width: 75%
}
.small-10 {
    width: 83.33333%
}
.small-11 {
    width: 91.66667%
}
.small-12 {
    width: 100%
}
@media screen and (min-width: 768px) {
    .medium-1 {
        width: 8.33333%
    }
    .medium-2 {
        width: 16.66667%
    }
    .medium-3 {
        width: 25%
    }
    .medium-4 {
        width: 33.33333%
    }
    .medium-5 {
        width: 41.66667%
    }
    .medium-6 {
        width: 50%
    }
    .medium-7 {
        width: 58.33333%
    }
    .medium-8 {
        width: 66.66667%
    }
    .medium-9 {
        width: 75%
    }
    .medium-10 {
        width: 83.33333%
    }
    .medium-11 {
        width: 91.66667%
    }
    .medium-12 {
        width: 100%
    }
}
@media screen and (min-width: 960px) {
    .large-1 {
        width: 8.33333%
    }
    .large-2 {
        width: 16.66667%
    }
    .large-3 {
        width: 25%
    }
    .large-4 {
        width: 33.33333%
    }
    .large-5 {
        width: 41.66667%
    }
    .large-6 {
        width: 50%
    }
    .large-7 {
        width: 58.33333%
    }
    .large-8 {
        width: 66.66667%
    }
    .large-9 {
        width: 75%
    }
    .large-10 {
        width: 83.33333%
    }
    .large-11 {
        width: 91.66667%
    }
    .large-12 {
        width: 100%
    }
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 5%
}
.container:after {
    content: "";
    display: table;
    clear: both
}
@media screen and (min-width: 1280px) {
    .container {
        padding: 0 64px
    }
}
section {
    padding: 3em 0;
    overflow: hidden
}
@media screen and (max-width: 768px) {
    .hide-mobile {
        display: none
    }
}
* {
    background-repeat: no-repeat;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    white-space: normal
}
html {
    -webkit-font-kerning: normal;
    font-kerning: normal;
    font-size: 17px;
    line-height: 1.5;
    color: #666
}
body {
    line-height: inherit
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: text-top;
    fill: currentColor
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4b286d;
    font-weight: lighter;
    letter-spacing: -.03em;
    line-height: 1.1;
    margin-bottom: .4rem
}
.button,
.site-map h4 {
    font-weight: 700
}
.heading-1,
h1 {
    font-size: 2.82353em;
    margin-bottom: .75rem
}
.heading-2,
h2 {
    font-size: 2em
}
.heading-3,
h3 {
    font-size: 1.35294em
}
strong {
    color: #222
}
em {
    font-style: italic
}
small {
    font-size: .88235rem
}
p {
    font-size: 1rem;
    margin-bottom: .8rem
}
p:last-of-type {
    margin-bottom: 2.2rem
}
p.callout {
    font-size: 1.35294rem
}
fieldset {
    margin-bottom: 1em;
    max-width: 400px
}
label {
    display: block;
    color: #979797
}
input,
select,
textarea {
    color: #2a2c2e;
    font-size: 1em;
    line-height: 1.5;
    outline: 0;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 1.5rem 1rem .5rem;
    width: 100%
}
input+label,
select+label,
textarea+label {
    position: absolute;
    pointer-events: none;
    left: 1rem;
    top: 1rem;
    -webkit-transition: all .2s;
    transition: all .2s
}
input:focus,
select:focus,
textarea:focus {
    border: 1px solid #248700;
    box-shadow: 0 0 3px #248700
}
input:focus+label,
input:valid+label,
select+label,
textarea:focus+label,
textarea:valid+label {
    top: .5rem;
    font-size: .75rem
}
textarea {
    height: 12em
}
select {
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: .01px;
    text-overflow: ''
}
select::-ms-expand {
    display: none
}
.select:after {
    content: "▾";
    position: absolute;
    right: 1em;
    top: 1em
}
input[type=radio]+span,
input[type=checkbox]+span {
    color: #666
}
input[type=radio]+span::before,
input[type=checkbox]+span::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    vertical-align: middle;
    margin-right: 1rem;
    border: 1px solid #aaa;
    background-color: #fcfcfc;
    -webkit-transition: all .2s;
    transition: all .2s
}
input[type=radio]:disabled,
input[type=checkbox]:disabled {
    cursor: not-allowed
}
input[type=radio]:disabled+span,
input[type=checkbox]:disabled+span {
    color: #979797
}
input[type=radio]:disabled+span::before,
input[type=checkbox]:disabled+span::before {
    background-color: #f3f3f3;
    border-color: #979797
}
input[type=radio]:focus+span::before,
input[type=checkbox]:focus+span::before {
    border: 1px solid #248700;
    box-shadow: 0 0 3px #248700
}
input[type=radio]+span::before {
    border-radius: 50%
}
input[type=radio]:checked+span::before {
    border: .4em solid #248700
}
input[type=checkbox]+span::before {
    border-radius: 4px/7px
}
input[type=checkbox]:checked+span::before {
    content: "\2714";
    color: #fff;
    background-color: #248700
}
.error-message {
    font-size: .88235rem;
    margin: .5em;
    display: none
}
.error input,
.error select,
.error textarea {
    border-color: #b72032;
    color: #b72032
}
.error .error-message,
.error label {
    color: #b72032
}
.error .error-message {
    display: block
}
.button,
.inline li {
    display: inline-block
}
a {
    color: #248700;
    text-decoration: underline
}
main ol,
main ul {
    margin-bottom: 1rem
}
.bullets li {
    list-style-type: disc;
    margin-left: 1rem
}
.circle li {
    list-style-type: circle;
    margin-left: 1rem
}
.inline li {
    padding: 1em
}
button {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: inherit;
    font-family: inherit;
    line-height: 1
}
.button {
    border: none;
    cursor: pointer;
    font-family: Telus, Arial, sans-serif;
    font-size: 1.11765rem;
    margin: .5em 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-decoration: none;
    vertical-align: top;
    -webkit-transition: background .2s;
    transition: background .2s
}
.button-primary {
    background-color: #33a708;
    border-radius: 15px;
    color: #fff;
    max-width: 10em;
    padding-left: 2rem;
    padding-right: 2rem
}
.button-primary:hover {
    background-color: #248700
}
.button-secondary {
    color: #248700
}
.button-secondary::after {
    content: url('data:image/svg+xml;charset=UTF-8,<svg width="6" height="14" viewBox="0 0 6 14" xmlns="http://www.w3.org/2000/svg"><path d="M1.0606 13l3.606-5.154c.316-.4516.3196-1.1768.0004-1.6308L1 1" stroke="#248700" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    vertical-align: middle;
    margin: .5em
}
.button-secondary:hover {
    text-decoration: underline
}
.button:disabled {
    background-color: #979797;
    cursor: default
}
.site-localization,
.site-settings {
    display: none
}
.site-settings {
    background: #f4f4f4
}
.menu-item {
    display: inline-block
}
.submenu {
    display: none
}
.submenu.is-visible {
    display: block
}
footer a {
    text-decoration: none
}
.footer-logo {
    background: #54595f
}
#banner img {
    height: 360px
}
@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none
    }
    #banner img {
        position: absolute;
        height: 100vw;
        right: 0;
        -webkit-transform: translate(40%, -25%);
        transform: translate(40%, -25%);
        max-height: 250%
    }
    #products .grid-item {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }
}
#hero {
    padding-bottom: 0
}
.carousel-nav {
    position: static;
    width: 100%
}
.carousel-nav li {
    cursor: pointer;
    display: inline-block;
    background-color: #bbb;
    border: 2px solid transparent;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 0 3px;
    background-clip: content-box;
    -webkit-transition: all .5s;
    transition: all .5s
}
.carousel-nav li.active {
    border-color: #fff;
    background-color: transparent
}
.carousel-nav .next,
.carousel-nav .prev {
    position: absolute;
    cursor: pointer;
    top: 0;
    width: 5em;
    height: 100%;
    z-index: 1000;
    border: 0;
    background: 0 0;
    outline: 0
}
#products,
section#support {
    background-color: #f4f4f4
}
.carousel-nav .next:hover span,
.carousel-nav .prev:hover span {
    opacity: .8
}
.carousel-nav .next span,
.carousel-nav .prev span {
    position: absolute;
    top: 50%;
    font-size: 5em;
    width: 1em;
    height: 1em;
    margin-top: -.5em;
    vertical-align: middle;
    display: inline-block;
    color: #000;
    opacity: .2;
    -webkit-transition: all .3s;
    transition: all .3s
}
#products .grid-item,
.carousel img {
    width: 100%
}
.carousel-nav .prev,
.carousel-nav .prev span {
    left: 0
}
.carousel-nav .next,
.carousel-nav .next span {
    right: 0
}
.carousel-slide {
    padding: 0 3em
}
@media screen and (min-width: 960px) {
    #banner {
        min-height: 20em
    }
    #banner img {
        max-height: 500%
    }
    #products .grid-item {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
        max-width: 33.33333%
    }
}
#products .card {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}
section#support .card:after {
    content: "";
    display: table;
    clear: both
}