/**

File:           fonts.scss
Description:    Telus-specific fonts are included here


        ◡◠ ✥ ◠◡

    Table of Contents:

    1. Telus font

*/

/* ---------------------------------------
	Telus-brand Font
-----------------------------------------*/

// $url: "https://static.telus.com/common/fonts/";
$url: "https://cdn.telus.digital/thorium/v1.0";

@font-face {
  font-family: "Telus";
  font-weight: light;			// 100
  font-style: normal;
  src: url("#{$url}/LabGrotesque-Light.woff") format("woff"),
       url("#{$url}/LabGrotesque-Light.woff2") format("woff2");
}


// Telus Regular
@font-face {
  font-family: "Telus";
  font-weight: normal;		// 600;
  font-style: normal;
  src: url("#{$url}/LabGrotesque-Regular.woff") format("woff"),
       url("#{$url}/LabGrotesque-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Telus";
  font-weight: normal;		// 600;
  font-style: italic;
  src: url("#{$url}/LabGrotesque-Italic.woff") format("woff"),
       url("#{$url}/LabGrotesque-Italic.woff2") format("woff2");
}


// Telus Medium
@font-face {
  font-family: "Telus";
  font-weight: bold;			// 800;
  font-style: normal;
  src: url("#{$url}/LabGrotesque-Medium.woff") format("woff"),
       url("#{$url}/LabGrotesque-Medium.woff2") format("woff2");
}





