/**

File:         global.scss
Description:  Site-wide global styles


    ◡◠ ✥ ◠◡

  Table of Contents:

  1. Global


*/

/* ---------------------------------------
  1.  Global
-----------------------------------------*/

* {
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;   // we put this here to overcome webkit bug when doing -webkit-transforms
  -moz-osx-font-smoothing: grayscale;    // only OS X
  text-rendering: optimizeLegibility;    //

  &::before, &::after {
    box-sizing: border-box;
  }
}


html {
  font-kerning: normal;
  font-size: $font-size-base;
  font-family: $font-telus;
  line-height: 1.5;
  color: $color-font;
}

body {
  line-height: inherit;
}