/**

File:           grid.scss
Description:    Telus grid classes live in here. The grid is _mobile-first_. Add code for
                small screens first, and larger devices will inherit those styles. You may
                customize for larger screens as necessary.

                Conversely, you are not constrained to using the grid classes herein. It may
                be simpler, for example, to use the provided mixin to just set the column
                width of an element at a particular breakpoint.

        ◡◠ ✥ ◠◡

    Table of Contents:

    1. Helpers
    2. Columns
    3. Responsive

*/

/* ---------------------------------------
  1. Helpers
-----------------------------------------*/

$column-width: (1 / $columns);

/**
 * Useful for grid generation, or if you wish to apply styles to an
 * element directly without using a pre-defined class.
 * @param  {Integer} $num The number of columns to span
 * @return {void}
 */
@mixin columns($num) {
  width: percentage($num / $columns);
}


/* ---------------------------------------
  2. Columns
-----------------------------------------*/

.columns {
  float: left;
  padding: 0 $padding;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}


/* ---------------------------------------
  3. Responsive
-----------------------------------------*/

// small and up: small / medium / large
@for $num from 1 through $columns {
  .small-#{$num} {
    @include columns($num);
  }
}

// medium and up: medium / large
@include from-breakpoint("medium") {
  @for $num from 1 through $columns {
    .medium-#{$num} {
      @include columns($num);
    }
  }
}

// large
@include from-breakpoint("large") {
  @for $num from 1 through $columns {
    .large-#{$num} {
      @include columns($num);
    }
  }
}

