/**

File:           icons.scss
Description:    Telus-specific icons are included here.
                We use SVGs, and include an icon like this:

                <svg class="icon" aria-labelledby="Cloud icon">
                  <use xlink:href="path/to/sprite.svg#cloud"></use>
                <svg>

                To update the icon sprite sheet, simply drop your new icon
                into icons/, and run ``npm run build:icons``

        ◡◠ ✥ ◠◡

    Table of Contents:

    1. Icons

*/

/* ---------------------------------------
  1.  Icons
-----------------------------------------*/

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  fill: currentColor;
}