
/* ---------------------------------------
  1. Container
-----------------------------------------*/

.container {
  @include clearfix;    // ?

  max-width: $max-width;
  margin: 0 auto;
  padding: 0 5%;

  @include from-breakpoint($max-width) {
    // padding = max-width * 5%
    padding: 0 64px;
  }
}


/* ---------------------------------------
  2. Sections
-----------------------------------------*/

section {
  padding: 3em 0;
  overflow: hidden;
}


/* ---------------------------------------
  3. Responsive-only Classes
-----------------------------------------*/

@include at-breakpoint("small") {
  .hide-mobile {
    display: none;
  }
}