/**

File:         elements.scss
Description:  All general elements styles (ie. tags without classes) can go in here


    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Headings
    2. Text style
    3. Paragraphs

*/

/* ---------------------------------------
  1.  Headings
-----------------------------------------*/

// * "em" if the property scales according to its font-size
// * everything else in "rem"

h1, h2, h3, h4, h5, h6 {
  color: $color-purple;
  font-family: $font-telus;
  font-weight: lighter;
  letter-spacing: -0.03em;
  line-height: 1.1;
  margin-bottom: 0.4rem;
}

h1, .heading-1 { font-size: em(48px); margin-bottom: 0.75rem; }
h2, .heading-2 { font-size: em(34px); }
h3, .heading-3 { font-size: em(23px); }

@include from-breakpoint("medium") {
  // .heading-1 { font-size: em(40px); }
  // .heading-2 { font-size: em(32px); }
  // .heading-3 { font-size: em(25px); }
}

@include from-breakpoint("large") {
  // .heading-1 { font-size: em(44px); }
  // .heading-2 { font-size: em(37px); }
  // .heading-3 { font-size: em(27px); }
}



/* ---------------------------------------
  2.  Text Style
-----------------------------------------*/

strong {
  color: $color-font-dark;
}

em {
  font-style: italic;
}

small {
  font-size: rem(15px);
}


/* ---------------------------------------
  3.  Paragraphs
-----------------------------------------*/

p {
  font-size: 1rem;
  margin-bottom: 0.8rem;

  &:last-of-type {
    margin-bottom: 2.2rem
  }
}

p.callout {
  font-size: rem(23px);
}
